* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #FFFDF7;
    background-image: url(materials/kenrick-mills-HU8H6YajYb0-unsplash\ \(1\).jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

@font-face {
    font-family: "ProbaPro-Regular";
    font-style: normal;
    font-weight: 400;
    src: url('ProbaPro_Regular/font.woff2') format('woff2'), url('ProbaPro_Regular/font.woff') format('woff');
    font-display: swap;
  }

@font-face {
    font-family: "ProbaPro-Italic";
    font-style: normal;
    font-weight: 400;
    src: url('ProbaProItalic/font.woff2') format('woff2'), url('ProbaProItalic/font.woff') format('woff');
    font-display: swap;
  }

:root {
    --main-color: #393939;
  }

.container {
  display: grid;
  grid-template-columns: 30% auto 15%;
  grid-template-rows: 20% auto 110px;
  column-gap: 10px;
  width: 90vw;
  max-width: 1500px;
  height: 95vh;
  background: rgba(255, 253, 247, 0.15);
  margin: auto;
  margin-top: 2.5vh;
  backdrop-filter: blur(50px);
  border-radius: 20px;
}

@keyframes pageLoad {
  from {opacity: 0;}
  to {opacity: 1;}
}

.container * {
  animation: pageLoad 2s linear;
}


.lines {
  background-color: pink;
  visibility: hidden;
}
.line1 {
  grid-row: 1/4;
  grid-column: 1/2;
  height: 100%;
  width: 1px;
  justify-self: end;
}
.line2 {
  grid-row: 1/4;
  grid-column: 3/4;
  height: 100%;
  width: 1px;
  justify-self: start;
}
.line3 {
  grid-row: 1/2;
  grid-column: 1/4;
  height: 1px;
  width: 100%;
  align-self: end;
}
.line4 {
  grid-row: 3/4;
  grid-column: 1/4;
  height: 1px;
  width: 100%;
  align-self: start;
}

.face {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  aspect-ratio: 1/1;
  width: 70px;
  margin-right: 20px;
}

.topRow {
  grid-row: 1/2;
  grid-column: 2/3;
  height: 100%;
  align-self: center;
  display: flex;
  align-items: center;
}

  @keyframes extension {
    from {width: 1px;}
    to {width: 150px;}
  }
  
  .title {
    height: auto;
    /* margin-left: 20px; */
    overflow: hidden;
    width: 1px;
    animation: extension 1s ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 2s;
  }
    .titles {
      color: var(--main-color);
      width: max-content;
    }
      .name {
        font-family: "ProbaPro-Regular";
        font-size: 19px;
        margin-bottom: 5px;
      }
      .profession {
        font-family: "ProbaPro-Italic";
        font-size: 16px;
      }
  
  
  .line {
    width: 1px;
    height: 75px;
    background-color: var(--main-color);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .links {
    margin-left: 30px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: max-content;
    height: 41px;
  }
    .email {
      margin-left: 23px;
    }

.middleRow {
  grid-row: 2/3;
  grid-column: 1/4;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% auto 15%;
  grid-template-rows: repeat(3, fit-content(100%));
  column-gap: 10px;
  /* row-gap: 150px; */
  overflow: overlay;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

.middleRow::-webkit-scrollbar {
  display: none;
}

  .smallContainers {
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: space-between;
    align-items: flex-start;
    row-gap: 17px;
    column-gap: 20px;
  }

  #projects {
    grid-row: 1/2;
    padding-bottom: 75px;
  }
    .videos {
      width: 38%;
      aspect-ratio: 16 / 9;
      border: 1px solid var(--main-color);
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      flex-grow: 0;
    }
    .videoDescriptions {
      width: 50%;
    }
      .videoTitle {
        font-family: "ProbaPro-Italic";
        color: var(--main-color);
        font-size: 17px;
        margin-bottom: 16px;
      }
      .videoDescription {
        font-family: "ProbaPro-Regular";
        color: white;
        font-size: 17px;
      }
      .video1 {
        background-image: url(materials/Surgery.jpg);
      }
      .video2 {
        background-image: url(materials/Math.jpg);
      }
      .video3 {
        background-image: url(materials/Cello.jpg);
      }
      .video4 {
        background-image: url(materials/Offbeat.jpg);
      }

  #about {
    grid-row: 2/3;
    padding-top: 75px;
    padding-bottom: 75px;
  }

    .aboutDescription {
      width: calc(100% - 150px - 20px);
      max-width: 530px;
      font-family: "ProbaPro-Regular";
      color: white;
      font-size: 17px;
    }
    
    .myPicture {
      width: 150px;
      height: 150px;
      border: 1px solid var(--main-color);
      box-sizing: border-box;
      background-image: url(materials/MyPhoto.jpg);
      background-size: cover;
    }

  #resources {
    grid-row: 3/4;
    padding-top: 75px;
    padding-bottom: 75px;
  }

    .resource {
      width: 22%;
      min-width: 100px;
      max-width: 150px;
      aspect-ratio: 1/1;
      border: 1px solid var(--main-color);
      box-sizing: border-box;
      background-size: cover;
    }
    .resource1 {
      background-image: url(materials/cents\ scale2.jpg);
    }
    .resource2 {
      background-image: url(materials/Stuffen\ Harmoniefunktionen.jpg);
    }
    .resource3 {
      background-image: url(materials/Designs.jpg);
    }
    .resource4 {
      background-image: url(materials/mathPaper.jpg);
    }
    .resource5 {
      background-image: url(materials/Composition\ Process.jpg);
    }
  
  .buttons {
    grid-column: 1/2;
    justify-self: end;
    height: fit-content;
    margin-right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: sticky;
  }
  .buttons:visited {
    text-decoration: none;
  }

    .button1 {
      grid-row: 1/2;
      top: 0;
    }
    .button2 {
      grid-row: 2/3;
      align-self: center;
      top: 40px;
      bottom: 50px;
    }
    .button3 {
      grid-row: 3/4;
      align-self: center;
      top: 80px;
      bottom: 10px;
    }

      .buttonText {
        color: white;
        font-family: "ProbaPro-Regular";
        font-size: 19px;
        margin-right: 10px;
        padding-bottom: 3px;
      }

    .keyNote {
      width: 10px;
      height: 25px;
      background-color: white;
      border-radius: 2px;
    }

.keyboard {
  grid-column: 1/4;
  grid-row: 3/4;
  height: 100%;
  max-width: 1200px;
  width: 80%;
  background-image: url(materials/keyboard.jpg);
  background-size: cover;
  background-position: center;
  justify-self: center;
  /* visibility: hidden; */
}

@media only screen and (max-width: 1300px) {
  body {
    background-size: cover;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 92vw;
    grid-template-columns: 25% auto 10%;
  }

  .middleRow {
    grid-template-columns: 25% auto 10%;
  }

  #resources {
    justify-content: space-between;
  }

  .videoDescriptions {
    width: 55%;
  }

  .smallContainers {
    column-gap: 3%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 20% auto 90px;
    column-gap: 0px;
    row-gap: 0px;
    height: 96dvh;
    margin-top: 2dvh;
  }

  .face {
    grid-column: 2/3;
    justify-self: start;
    margin-right: 0px;
    width: 20%;
    max-width: 70px;
  }
  
  .topRow {
   margin-left: 80px;
  }

    .links {
      margin-left: 20px;
    }
    .email {
      margin-left: 14px;
    }

  .middleRow {
    grid-template-columns: 5% auto 5%;
    column-gap: 0px;
  }

    #projects {
      padding-top: 55px;
      padding-bottom: 20px;
    }

    .videos {
      width: 100%;
      margin-bottom: 20px;
    }
      .video1 {
        order: 2;
      }
      .video2 {
        order: 4;
      }
      .video3 {
        order: 6;
      }
      .video4 {
        order: 8;
      }

    .videoDescriptions {
      width: 100%;
    }
      .videoDescriptions1 {
        order: 1;
      }
      .videoDescriptions2 {
        order: 3;
      }
      .videoDescriptions3 {
        order: 5;
      }
      .videoDescriptions4 {
        order: 7;
      }

    #about {
      padding-top: 65px;
      padding-bottom: 50px;
    }  
    .aboutDescription {
      width: 100%;
    }


  .buttons {
    grid-column: 2/3;
    justify-self: start;
    height: fit-content;
    margin-right: 0px;
    position: initial;
  }
    .button1 {
      top: none;
    }
    .button2 {
      align-self: flex-start;
      top: none;
      bottom: none;
    }
    .button3 {
      align-self: flex-start;
      top: none;
      bottom: none;
    }
    

  .keyboard {
    grid-column: 2/3;
    height: 100%;
    width: 100%;
  }

  @keyframes extension {
    from {width: 1px;}
    to {width: 140px;}
  }
}

@media only screen and (max-width: 400px) {

  .topRow {
    margin-left: calc(20% + 10px);
  }

  .links {
    width: min-content;
    height: max-content;
  }

  .email {
    margin-left: 0;
  }
}